<div [formGroup]="formGroup">
  <mat-form-field class="full-width">
    <input
      matInput
      [step]="step"
      [min]="min"
      [max]="max"
      [placeholder]="inputPlaceholder"
      [name]="controlName"
      [formControlName]="controlName"
      [id]="idInput"
    />
    <!-- <input
      #input
      matInput
      type="number"
      [step]="step"
      [min]="min"
      [max]="max"
      [placeholder]="inputPlaceholder"
      [name]="controlName"
      [formControlName]="controlName"
      [id]="idInput"
      (input)="maskMoney((guarda = $event))"
      [disabled]="false"
    />
    {{ guarda }} -->
  </mat-form-field>

  <mat-error *ngIf="validationErrors.hasErrorValidate(formControl, 'required')"
    >O campo é obrigatório</mat-error
  >
  <mat-error *ngIf="validationErrors.hasErrorValidate(formControl, 'min')"
    >O campo deve ter no mínimo
    {{ validationErrors.lengthValidation(formControl, "min") }}</mat-error
  >
  <mat-error *ngIf="validationErrors.hasErrorValidate(formControl, 'max')"
    >O campo deve ter no máximo
    {{ validationErrors.lengthValidation(formControl, "max") }}
  </mat-error>
</div>
