<mat-toolbar class="app-title">Cadastrar boi</mat-toolbar>
<div class="main-div">
  <mat-card class="center width50" *ngIf="formData">
    <form
      autocapitalize="off"
      novalidate
      [formGroup]="formData"
      (ngSubmit)="submit()"
      (ngReset)="clearForm()"
    >
      <mat-card-content>
        <app-input-text
          inputPlaceholder="Raça"
          controlName="breed"
          [formGroup]="formData"
        ></app-input-text>

        <!-- <input
          step="0.1"
          min="0"
          max="10"
          matInput
          placeholder="Preço teste"
          name="price"
          formControlName="price"
          [value]="formData.get('price')?.value | currency: 'BRL'"
        /> -->

        <app-input-number
          min="0"
          max="20000000000"
          inputPlaceholder="Preço"
          controlName="price"
          [formGroup]="formData"
        ></app-input-number>

        <app-input-text
          inputPlaceholder="Link Foto"
          controlName="photoUrl"
          [formGroup]="formData"
        ></app-input-text>

        <app-input-date
          inputPlaceholder="Data de nascimento"
          controlName="birthDate"
          [formGroup]="formData"
          maxDate="{{ today | date: 'yyyy-MM-dd' }}"
        ></app-input-date>

        <app-input-textarea
          inputPlaceholder="Descrição"
          controlName="description"
          [formGroup]="formData"
        ></app-input-textarea>

        <app-input-select
          inputPlaceholder="Gênero"
          controlName="gender"
          [formGroup]="formData"
          [opcoes]="genders"
        ></app-input-select>
      </mat-card-content>

      <mat-card-actions class="float-right">
        <button type="submit" color="accent" mat-raised-button>Salvar</button>
        <button type="reset" color="warn" mat-raised-button>Cancelar</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
