<mat-toolbar class="app-title">Bois cadastrados</mat-toolbar>
<div class="home-content" infiniteScroll (scrolled)="onScroll()">
  <mat-card class="home-card" *ngFor="let boi of bois">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ boi.breed }}</mat-card-title>
      <mat-card-subtitle
        >{{ boi.gender }} - R$ {{ boi.price }}</mat-card-subtitle
      >
      <mat-card-subtitle
        >Data nasc: {{ boi.birthDate | date: "dd/MM/yyyy" }}</mat-card-subtitle
      >
    </mat-card-header>
    <img mat-card-image src="{{ boi.photoUrl }}" alt="Angular Material 7" />
    <mat-card-content>
      <p>
        {{ boi.description }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button color="accent" (click)="open()" mat-raised-button>OPEN</button>
    </mat-card-actions>
  </mat-card>
</div>
