<mat-toolbar class="app-title">Bois cadastrados</mat-toolbar>
<mat-card class="float-left margin10 list-filter">
  <form autocomplete="off" novalidate [formGroup]="listFilter">
    <div class="width50 float-left">
      <div class="padding10">
        <app-input-text
          controlName="breed"
          [formGroup]="listFilter"
          inputPlaceholder="Filtro raça"
        ></app-input-text>
      </div>
    </div>
    <div class="width50 float-left">
      <div class="padding10">
        <app-input-select
          controlName="gender"
          inputPlaceholder="Filtro macho ou fêmea"
          [formGroup]="listFilter"
          [opcoes]="genders"
        ></app-input-select>
      </div>
    </div>
  </form>
</mat-card>

<div class="home-content" infiniteScroll 
(scrolled)="onScroll()" 
*ngIf="bois.length; else notRegister">
  <mat-card class="home-card border-card" *ngFor="let boi of bois">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ boi.breed }}</mat-card-title>
      <mat-card-subtitle
        >{{ boi.gender }} - R$ {{ boi.price }}</mat-card-subtitle
      >
      <mat-card-subtitle
        >Data nasc: {{ boi.birthDate | date: "dd/MM/yyyy" }}</mat-card-subtitle
      >
    </mat-card-header>
    <img mat-card-image src="{{ boi.photoUrl }}" alt="Angular Material 7" />
    <mat-card-content>
      <p class="break-line"  style="margin-top: 10px">
        {{ boi.description || 'Nenhuma descrição sobre o animal!' }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button color="accent" (click)="open()" mat-raised-button>OPEN</button>
    </mat-card-actions>
  </mat-card>
</div>

<ng-template #notRegister>
  <h3 class="text-template">Nenhum registro encontrado</h3>
</ng-template>