<mat-form-field class="full-width">
  <input matInput placeholder="Raça" name="breed" formControlName="breed" />
  <mat-error *ngIf="validationErrors.hasErrorValidate(f['breed'], 'required')"
    >O campo é obrigatório</mat-error
  >
  <mat-error *ngIf="validationErrors.hasErrorValidate(f['breed'], 'minlength')"
    >O campo deve ter no mínimo 3 caracteres</mat-error
  >
  <mat-error *ngIf="validationErrors.hasErrorValidate(f['breed'], 'maxlength')"
    >O campo deve ter no máximo 30 caracteres</mat-error
  >
</mat-form-field>
