<div [formGroup]="formGroup">
  <mat-form-field class="full-width">
    <input
      matInput
      [placeholder]="inputPlaceholder"
      [name]="controlName"
      [formControlName]="controlName"
      [id]="idInput"
    />
    <mat-error
      *ngIf="validationErrors.hasErrorValidate(formControl, 'required')"
      >O campo é obrigatório</mat-error
    >
    <mat-error
      *ngIf="validationErrors.hasErrorValidate(formControl, 'minlength')"
      >O campo deve ter no mínimo
      {{ validationErrors.lengthValidation(formControl, "minlength") }}
      caracteres</mat-error
    >
    <mat-error
      *ngIf="validationErrors.hasErrorValidate(formControl, 'maxlength')"
      >O campo deve ter no máximo
      {{ validationErrors.lengthValidation(formControl, "maxlength") }}
      caracteres</mat-error
    >
  </mat-form-field>
</div>
