.btns {
  display: flex;
  justify-content: flex-end;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: -35px;
}

.image {
  margin-top: 1rem;
  width: 60%;
  height: 30%;
  object-fit: cover;
  border-radius: 20%;
}

.mat-list-item {
  text-transform: capitalize;
  color: #fff;
  border: 1px solid #8ae96f;
}
