.btns {
  display: flex;
  justify-content: flex-end;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 5px;
 
}

.image {
  margin-top: 1rem;
  max-width: 50%;
  max-height: 30%;
  width: auto;
  height: auto;
  object-fit: fill;
  border-radius: 5%;
  
}

.mat-list-item {
  text-transform: capitalize;
  color: #fff;
  border: 1px solid #8ae96f;
}
